* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100vh;
  background: #333;
}

.car {
  position: absolute;
  bottom: 10px;
}

.car--left {
  /* left: 50px; */
  transform: translateX(-380px);
  transition: all 0.5s ease;
}

.car--right {
  /* right: 50px; */
  transform: translateX(380px);
  transition: all 0.5s ease;
}
.car--center {
  /* right: 50px; */
  transform: translate(10px);
  transition: all 0.5s ease;
}

.car img {
  width: 200px;
  height: 250px;
}

.road {
  position: relative;
  width: 50px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    white 0px,
    white 40px,
    transparent 40px,
    transparent 80px
  );
  animation: move-road 0.3s linear infinite;
}

.road1 {
  margin-left: 290px;
}
.road2 {
  margin: 0 320px;
}

@keyframes move-road {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 80px;
  }
}
