* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.body--active {
  animation: body 10s ease 1 alternate;
  animation-fill-mode: forwards;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.road {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border: 3px dashed rgb(8, 74, 217);
  border-left: none;
  border-right: none;
}

.car {
  position: absolute;
  left: 0;
}

.car--avtive {
  animation: car-animation 8s linear 1 alternate;
  animation-fill-mode: forwards;
}

.car img {
  width: 250px;
  transform: rotateY(180deg);
}

@keyframes car-animation {
  0% {
    left: 0;
  }

  25% {
    left: 25%;
  }

  50% {
    left: 50%;
  }
  75% {
    left: 75%;
  }
  100% {
    left: 85%;
  }
}

@keyframes body {
  0% {
    background: bisque;
  }

  25% {
    background: bisque;
  }

  50% {
    background: bisque;
  }
  75% {
    background: bisque;
  }
  100% {
    background: green;
  }
}
