* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1500px;
  height: 100vh;
}

.circle {
  margin: 0 auto;
  margin-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: red;
  transition: all 0.3s ease-in-out;
}
